#MainWallpaper {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
}

.scroll-button {
  position: absolute !important;
  top: 500px !important;
  transform: translate(-50%, -50%) !important;
  left: 50% !important;
}

@media (max-width: 700px) {
  #MainWallpaper {
    display: none;
  }

  .scroll-button {
    display: none !important;
  }
}

@media (min-width: 1301px) {
  .scroll-button {
    top: 700px !important;
  }
}

@media (min-width: 1501px) {
  .scroll-button {
    top: 800px !important;
  }
}
